In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import os
import seaborn as sns
import warnings
warnings.filterwarnings('ignore') # Hides warning

In [2]:
df = pd.read_csv('charts.csv')

In [3]:
df = df.fillna(0)
df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,8/4/1958,1,Poor Little Fool,Ricky Nelson,0.0,1,1
1,8/4/1958,2,Patricia,Perez Prado And His Orchestra,0.0,2,1
2,8/4/1958,3,Splish Splash,Bobby Darin,0.0,3,1
3,8/4/1958,4,Hard Headed Woman,Elvis Presley With The Jordanaires,0.0,4,1
4,8/4/1958,5,When,Kalin Twins,0.0,5,1

In [4]:
artistdf = df['artist'].value_counts().head(10)
print(artistdf)

Taylor Swift     1005
Elton John        889
Madonna           857
Kenny Chesney     758
Drake             735
Tim McGraw        731
Keith Urban       673
Stevie Wonder     659
Rod Stewart       657
Mariah Carey      621
Name: artist, dtype: int64

In [5]:
songdf = df['song'].value_counts().head(10)
print(songdf)

Stay               208
Angel              205
Heaven             194
Hold On            189
I Like It          188
You                184
Crazy              176
Forever            164
Happy              157
Please Don't Go    152
Name: song, dtype: int64

In [9]:
print(df[["artist", "song", "peak-rank"]].value_counts().head(10))

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [10]:
df['date'] = df['date'].apply(pd.to_datetime)
df.set_index('date', inplace=True)
df.head()

,rank,song,artist,last-week,peak-rank,weeks-on-board
date,,,,,,
1958-08-04,1,Poor Little Fool,Ricky Nelson,0.0,1,1
1958-08-04,2,Patricia,Perez Prado And His Orchestra,0.0,2,1
1958-08-04,3,Splish Splash,Bobby Darin,0.0,3,1
1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,0.0,4,1
1958-08-04,5,When,Kalin Twins,0.0,5,1

In [11]:
# df.resample('A')['artist'].agg(['first','last']) # It can be used to find the most and least listened ones.
df.resample('A').first()

,rank,song,artist,last-week,peak-rank,weeks-on-board
date,,,,,,
1958-12-31,1,Poor Little Fool,Ricky Nelson,0.0,1,1
1959-12-31,1,The Chipmunk Song,The Chipmunks With David Seville,1.0,1,6
1960-12-31,1,El Paso,Marty Robbins,2.0,1,9
1961-12-31,1,Are You Lonesome To-night?,Elvis Presley With The Jordanaires,1.0,1,8
1962-12-31,1,The Lion Sleeps Tonight,The Tokens,1.0,1,8
...,...,...,...,...,...,...
2017-12-31,1,Starboy,The Weeknd Featuring Daft Punk,2.0,1,14
2018-12-31,1,Perfect,Ed Sheeran,1.0,1,18
2019-12-31,1,"Thank U, Next",Ariana Grande,1.0,1,8
2020-12-31,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,37
2021-12-31,1,All I Want For Christmas Is You,Mariah Carey,2.0,1,43

In [12]:
artistdf = df['artist'].value_counts().head(10)
print(artistdf)

Taylor Swift     1005
Elton John        889
Madonna           857
Kenny Chesney     758
Drake             735
Tim McGraw        731
Keith Urban       673
Stevie Wonder     659
Rod Stewart       657
Mariah Carey      621
Name: artist, dtype: int64

In [14]:
songdf = df['song'].value_counts().head(10)
print(songdf)

Stay               208
Angel              205
Heaven             194
Hold On            189
I Like It          188
You                184
Crazy              176
Forever            164
Happy              157
Please Don't Go    152
Name: song, dtype: int64